/* Mobile first with Bootstrap */
@import url("https://fonts.googleapis.com/css?family=Be+Vietnam:400,500i,700&display=swap");
/* Variables */
:root {
  --primary-color-br-red: hsl(12, 88%, 59%);
  --primary-color-dk-blue: hsl(228, 39%, 23%);
  --primary-color-buttons: hsl(12, 88%, 59%);
  --primary-color-dkgr-footer: hsl(233, 12%, 13%);
  --primary-color-font-light: hsl(0, 0%, 100%);
  --neutral-color-gr-blue: hsl(227, 12%, 61%);
  --neutral-color-dk-blue: hsl(232, 12%, 13%);
  --neutral-color-pl-red: hsl(13, 100%, 96%);
  --neutral-color-lt-gray: hsl(0, 0%, 98%);
  --hover-btn-link-color: hsl(12, 88%, 69%);
  --hover-simplify-btn-background: hsl(227, 12%, 61%);
}


* {
    /*outline: 1px solid black;*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--neutral-color-lt-gray);
    font-family: "Be Vietnam", sans-serif;
    font-size: 16px;
    width: 100%;
    overflow-x: hidden;
}



.button {
    border: none;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 300px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

button:focus,
input:focus {
    outline: none;
}

.button:hover {
    text-decoration: none;
}

.primary-btn {
    background-color: var(--primary-color-buttons);
    color: white;
    box-shadow: 0 3px 15px rgba(242, 95, 58, 0.4);
    -webkit-box-shadow: 0 3px 15px rgba(242, 95, 58, 0.4);
}

.primary-btn:hover {
    background-color: var(--hover-btn-background);
    color: var(--primary-color-br-red);
}
 
.simplify-btn {
    background-color: var(--neutral-color-lt-gray);
    color: var(--primary-color-br-red);
    box-shadow: 0 3px 15px rgba(242, 95, 58, 0.4);  
}

.simplify-btn:hover {
    background-color: var(--hover-simplify-btn-background);
    color: white;
    box-shadow: 0 3px 15px rgba(242, 95, 58, 0.4);
}

.testmonial__btn {
    margin-top: 50px;
}

.paragraph {
    font-size: 1.5rem;
}

.container-fluid {
    overflow: hidden;
    position: relative;
    background: url("../images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-position: 55vw -25vh;
}


/* Navigation Style */
.navbar {
    padding-top: 3rem;
}

.navbar .nav-link {
    color: var(--primary-color-dk-blue);
    font-size: 2rem;
    margin-right: 1rem;
    font-weight: 500;
}

.navbar, 
.nav-link:hover {
    color: var(--primary-color-br-red);
}

.navbar-toggler-icon {
    width: 20px; 
    heigh: 20px;
}


/* Main Style */
.main {
    margin-top: 6rem;
}

.intro__heading {
    width: 85%;
    font-weight: 700;
    font-size: 6rem;
}
.intro__text {
    width: 70%;
    font-size: 2rem;
    
}

.intro__image {
    width: 100%;
}

/* Services Section Style */
.services__container {
    margin-top: 15rem;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    background: url("../images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-position: -35vw 25vh;
    
}

.services {
    width: 90%;
}


.services__content {
    margin-bottom: 4rem;
    overflow-x: hidden;
    width: 80%;
}
.services__main-heading {
    font-size: 4rem;
    font-weight: 700;
    width: 65%;
}

.services__main-text {
    width: 75%;
    font-size: 2rem;
}

.services__header {
    display: flex;
    align-items: center;
}

.services__badge {
    background-color: var(--primary-color-br-red);
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 0.4rem 2rem 0.6rem 2rem;
    border-radius: 100px;
    width: 75px;
}

.services__heading {
    margin-left: 2rem;
    font-weight: 700;
    font-size: 2rem;
}

.services__text {
    transform: translateX(8rem);
    margin-top: 1rem;
    width: 60%;
    font-size: 2rem;
}

/* Testimonial Section Style */

.testimonial__container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.testimonial__heading {
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 700;
}

.glide {
    margin: 8rem 0 6rem 0;
}

.glide__track {
    cursor: grab;
    cursor: -webkit-grab;
    overflow-x: hidden;
}

.glide__slides {
    display: flex;
    justify-content: center;
    align-items: center;
}

.glide__slide {
    width: 250px;
    list-style-type: none;
}

.testimonial__img {
    width: 15%;
}

.glide__arrow {
    background-color: var(--neutral-color-lt-gray);
}

.glide__bullets {
    position: relative;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    list-style-type: none;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    margin-top: 2rem;
}

.glide__bullet {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: hsl(12, 88%, 59%);
    border: 2px solid hsl(12, 88%, 59%);
    margin: 0 0.5rem;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    cursor: pointer;
}

/* Info Container */
.simplify__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(12, 88%, 59%);
    margin-top: 15rem;
    padding: 5rem 0;
    background-image: url('../images/bg-simplify-section-desktop.svg');
}

.simplify__heading {
    font-size: 4rem;
    color: white;
    font-weight: 500;
    
}
.simplify__container .row > .col-md-4 {
    text-align: right;
}


/* Footer */

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: hsl(233, 12%, 13%);
    color: white;
    padding: 6rem 0;
}

.footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-evenly;
    padding: 60px 150px;
}



.footer__1-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer__social-logo {
    width: 25px;
    height: 25px;
}

.footer__social-logo:not(:last-child) {
    margin-right: 1rem;
}

.footer__2-container {
    display: flex;
    justify-content: space-evenly;
    
}


.footer__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    
}
.footer__links:first-child {
    margin-right: 8rem;
    margin-left: 2rem;
}

.footer__link {
    color: white;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.footer__link:hover {
    color: var(--hover-btn-link-color);
    text-decoration: none;
}

.footer__3-container {
    display: flex;
    flex-direction: column;
    
}

.footer__form {
    display: flex;
    margin-left: 4rem;
    align-items: flex-start;
    
}

.footer__input {
    height: 40px;
    width: 200px;
    border-radius: 50px;
    border: none;
    padding: 1rem 2rem;
    font-family: "Be Vietnam", sans-serif;
    font-size: 1.4rem;
}

.form-btn {
    height: 50px;
    width: 100px;
    border-radius: 50px;
    border: none;
    margin: 0 20px;

}

.footer__copyright {
    font-size: 1.4rem;
    opacity: 0.5;
    color: white;
    letter-spacing: 0.5px;
    align-self: flex-end;
    width: 300px;
    margin-right: 6rem;
   
}

.error {
    padding-left: 10px;
    font-size: 12px;
    margin-top: 5px;
    font-style: italic;
    visibility: hidden;
}

.error-input {
    color: hsl(12, 88%, 59%);
    border: 1px solid hsl(12, 88%, 59%);
}


/* Attribution */
.attribution {
    background-color:  hsl(233, 12%, 13%);
    font-size: 11px;
    text-align: center;
    color: white;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}