
* {
    outline: 1px solid black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: hsl(13, 100%, 96%)
    font-family: "Be Vietnam", sans-serif;
    overflow-x: hidden;
}

p {
    font-size: 1.5rem;
}



.hero__img {
    width: 100%;
}


/* Responsive Nav Styles */



/* Services Section Styles */

.services__heading {
    margin-left: 2rem;
}

.services__text {
    transform: translateX(8rem);
}

.badge-pill {
    background-color: hsl(12, 88%, 59%);
    color: white;
    font-size: 1.5rem;
    padding: 0.4rem 2rem 0.6rem 2rem;
    border-radius: 100px;
}

/* Testimonial Section Style */

.testimonials {
    margin-top: 10rem;
}

.testimonial__container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
















/* Attribution */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}