
* {
    outline: 1px solid black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: hsl(13, 100%, 96%)
    font-family: "Be Vietnam", sans-serif;
    overflow-x: hidden;
}

p {
    font-size: 1.5rem;
}

button:focus,
input:focus {
    outline: none;
}

.button {
    border: none;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 300px;  
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.button:hover {
    text-decoration: none;
}

.btn--primary {
    background-color: hsl(12, 88%, 59%);
    color: white;
    box-shadow: 0 3px 15px rgba(242, 95, 58, 0.4);
    -webkit-box-shadow: 0 3px 15px rgba(242, 95, 58, 0.4);

}

.btn--primary:hover {
    background-color: rgba(242, 95, 58, 0.4);
    color: white;
}

.btn--white {
    background-color: white;
    color: hsl(12, 88%, 59%);
}

.btn--white:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: hsl(12, 88%, 59%);
    box-shadow: 0 3px 15px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0 3px 15px rgba(255, 255, 255, 0.4);
}


/* Hero section */
.hero__img {
    width: 100%;
}



/* Responsive Nav Styles */



/* Services Section Styles */

.services__heading {
    margin-left: 2rem;
}

.services__text {
    transform: translateX(8rem);
}

.badge-pill {
    background-color: hsl(12, 88%, 59%);
    color: white;
    font-size: 1.5rem;
    padding: 0.4rem 2rem 0.6rem 2rem;
    border-radius: 100px;
}

/* Testimonial Section Style */

.testimonial__container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.testimonial__heading {
   justify-content: center; 
   align-items: center;
   

}

.glide {
    margin: 8rem 0 6rem 0;
}

.glide__track {
    cursor: grab;
    cursor: -webkit-grab;
    overflow-x: hidden;
}

.glide__slides {
    display: flex;
    justify-content: center;
    align-items: center;
}

.glide__slide {
    width: 250px;
}

.testimonial__img {
    width: 15%;
}

.glide__arrow {
    background-color: hsl(13, 100%, 96%);
}

.glide__bullets {
    position: relative;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    list-style-type: none;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    margin-top: 2rem;
}

.glide__bullet {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: hsl(12, 88%, 59%);
    border: 2px solid hsl(12, 88%, 59%);
    margin: 0 0.5rem;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    cursor: pointer;
}

/* Info Container */
.info__container {
    height: 150px;
    background-color: hsl(12, 88%, 59%);
}


/* Footer */

footer {
    height: 150px;
    background-color: hsl(233, 12%, 13%);
    color: white;
}

.footer__container {
    display: flex;
    justify-content: space-evenly;
}

.footer__logo {
    
}



/* Attribution */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}