/* Response Nav Styles */

/* Navigation */

@media (max-width: 768px) {
    .navbar__btn {
        display: none;
    }
    .navbar-nav {
        align-items: center;
        padding: 3rem 0;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    }
}

/* Main */

@media (max-width: 768px) {
    .main {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .intro__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 40px;  
    }
    .intro__image {
       margin-bottom: 40px;
    }
    .intro__heading {
        width: 100%;
        text-align: center;
    }
    .intro__text {
        width: 80%;
        margin: 20px;
        text-align: center;
    }
    
    
}


/* Services */
@media (max-width: 768px){
.services__container {
    background: url('../images/bg-simplify-section-mobile.svg');
    background-repeat: no-repeat;
    background-position: -35vw 25vh;
 }
 .services {
     width: 100%;
 }
 .services__content {
      width: 100%;
 }
 .services__intro {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     margin-bottom: 80px;
     width: 100%;
 }
 .services__header {
     background-color: var(--neutral-color-pl-red);
     width: 100%;
     border-radius: 50px;
     
 }
 .services__main-heading {
     font-size: 4rem;
 }
 .services__heading {
     margin: auto;
 }
 .services__text {
     width: 100%;
     transform: translateX(0);
 }

}

/* Simplify Section */
@media (max-width: 768px){
    .simplify__container {
        background-image: url('../images/bg-simplify-section-mobile.svg');
        background-repeat: no-repeat;
        flex-direction: column;
        justify-content: center;
        margin-top: 5rem;
    }
    .simplify__heading {
        align-items: center;
        text-align: center;
        margin: auto;
        width: 70%;
       
    }
    .simplify__container .row>.col-md-4 {
        text-align: center;
        margin-top: 3rem;
    }
}

/* Footer Style */
@media (max-width: 768px) {
    .footer__container {
        flex-direction: column-reverse;
        align-items: center;
    }
    .footer__copyright {
        align-items: center;
        margin: auto;
    }
}