/* Response Nav Styles */

/* Navigation */

@media (max-width: 768px) {
    .navbar__btn {
        display: none;
    }
    .navbar-nav {
        align-items: center;
        padding: 3rem 0;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    }
}

/* Main */

@media (max-width: 768px) {
    .main {
        display: flex;
        flex-direction: column-reverse;
    }
    .intro__section {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
}



